.RestSignup {
    text-align: center;
}

#tagline {
    margin-bottom: 1em !important;
    text-align: center;
}

#signup-paper {
    padding: 35px;
    margin-top: 55px;
}

#signup-button {
    margin: 20px 0px 20px 0px;
}

.RestSignup-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.RestSignup-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.RestSignup-link {
    color: #61dafb;
}

@keyframes RestSignup-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}